.App {
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

.sidebar {
  height: 100%;
  max-width: 150px;
  width: 100%;
  padding: 1px;
  position: sticky;
  top: 0;
  right: 0px;
  display: inline-block;
}

.only-small {
  display: none;
}

.only-large {
  display: inherit;
}

.nav div {
  margin: 4px;
  padding: 4px;
  background-color: rgb(255, 213, 213);
  display: block;
}

@media (max-width: 500px) {
  .nav div {
    display: inline-block;
  }
  .sidebar {
    height: 100%;
    max-width: 100px;
    width: 100%;
  }

  .only-small {
    display: inherit;
  }

  .only-large {
    display: none;
  }
}
