body {
  text-transform: lowercase;
  color: #353535;
  font-size: 1.6em;
  font-family: monospace;
  /* background-color: rgb(255, 255, 189); */
  background-color: white;
  overflow-wrap: break-word;
  padding: 2px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15);
}

.content {
  text-shadow: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to bottom right,
    black,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2)
  );
}

.links,
footer {
  margin-top: 35px;
}

footer span {
  display: block;
  font-size: 0.5em;
  opacity: 0.6;
  letter-spacing: 1px;
  margin: 5px;
}

footer div {
  margin: 10px;
  background-color: white;
}

input {
  width: 40px;
  text-align: center;
  opacity: 0.3;
  border-radius: 5px;
}

.im {
  padding: 10px;
}
.im:hover {
  opacity: 0.5;
}
.show-more {
  -webkit-text-fill-color: black;
  text-align: right;
  opacity: 0.4;
  letter-spacing: 3px;
  font-size: 0.85em;
  margin: -20px 0 20px 0;
  transition-duration: .5s;
}

.show-more:hover {
  opacity: 1;
}

.bg-text,
.im {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left {
  text-align: left;
}

.bg-inner {
  background-color: white;
  padding: 10px;
  width: -webkit-fill-available;
  display: inline-block;
}

.bg-bottom {
  padding: 0 0 5px 0;
}

h1 {
  font-size: 3.5em;
  font-weight: 1000;
  margin: -20px 0 0;
}

h2,
h3,
h4 {
  margin: 0;
}

.input,
.controls {
  position: absolute;
}

.controls {
  right: 20px;
  top: 20px;
}

.input {
  left: 30px;
  top: 30px;
}

.links a {
  color: white;
  text-shadow: 0.25px 0.25px 0.5px black;
  display: inline-block;
  text-decoration: none;
}

.bg:hover {
  text-decoration: strike-through;
  opacity: 1;
}

.bg {
  padding: 8px 20px;
  margin: 8px;
  border-radius: 10px;
  opacity: 1;
  opacity: 0.75;
  display: inline-block;
  /* -webkit-background-clip: none; */
  -webkit-text-fill-color: white;
  font-size: 1em;
  font-weight: 100;
  background-position-y: 80%;
}

.bg-left {
  background-position-x: 25%;
}

.bg-right {
  background-position-x: 75%;
}

.bg-1 {	
  background-position-x: 15%;
}

.bg-2 {	
  background-position-x: 35%;
}

.bg-3 {	
  background-position-x: 55%;
}

.bg-4 {
  background-position-x: 75%;
}

